.vip_table_list { display:block; margin:0 auto; }
.vip_price_cell { width:80px; padding:0 10px; }
.vip_checkbox { width:30px; text-align:center; }
.paypal_btn { background:#009cde; }
.vip_spinner { font-size:70px; }
#vip_spin_box { padding:50px 20px; }
.mvlogo { height:30px; width:auto; display:inline-block; }
.vip_icons { font-size:60px; }